<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgq.dao.DocumentMapper">
    <select id="selectDocumentByName" parameterType="java.lang.String" resultType="com.xgq.model.Document">
        SELECT * FROM documents WHERE name=#{name}
    </select>
</mapper>