<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
    <!--web-app_2_5.xsd 必须是2.5，默认maven命令创建的项目是2.3，不支持jsp页面EL表达式 ${}-->
  <display-name>Archetype Created Web Application</display-name>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext*.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>myBest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myBest</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!--增加编码过滤器，过滤器执行顺序就是文件里的配置顺序-->
    <filter>
        <filter-name>encoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--增加登陆过滤器,与servlet中配置的拦截器功能一致，一般登陆拦截使用过滤器-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.xgq.filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>index</url-pattern>
    </filter-mapping>

    <!--重点注意，这里配置的页面不支持spring的国际化配置-->
    <welcome-file-list>
        <welcome-file>first.jsp</welcome-file>
    </welcome-file-list>
</web-app>
